.git/
.vscode/
Build/
build/
out/

CMakePresets.json
CMakeSettings.json

deps/archives/
deps/src/argh
deps/src/assimp
deps/src/easy_profiler
deps/src/etc2comp
deps/src/glfw
deps/src/glm
deps/src/glslang
deps/src/meshoptimizer
deps/src/optick
deps/src/taskflow

.bootstrap.json

assets/assets/meshes/Exterior/